body{
  background: #3A4F50;
  color: #f4fefd;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  margin: 0 auto;
  width: 720px;
}
.navbar{
  width: 100%;
  position: fixed;
  left: 0;
  padding: 10px;
  top: 0;
  background-color: #1B2223;
  
}
a{
  text-decoration: none;
  color: white;
}
.nav-item{
  padding: 10px;
  font-size:x-large;
}
.teste{
  margin-top: 100px;
}

#form{
  display:flex;
  flex-direction: column;
  justify-items: center;
}
.tituloC{
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-top: 15px;
  background-color: #0ef6cc;
  border-radius: 50px;
  font-size: 50px;
  color: #3A4F50;
}
.btn{
  
  border-radius: 15px;
  padding: 10px;
  background-color: #0ef6cc;
  margin-top: 10px;
  font-size: large;
}
.btn:hover{
  background-color: #0ef6cc;
}
.dados{
  margin-top: 10px;
  font-size: 25px;
}
.cx-text{
  background-color: #4d6a6b;
  border-radius: 10px;
  border-color: #1B2223;
  color: #3A4F50;
}
.produtos{
  display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}
@media (max-width: 60em) {
  .produtos {
    grid-gap: 3rem;
  }
}
.tituloP{
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #0ef6cc;
  font-size: 50px;
  color: #3A4F50;
}

